/*
:root{
    --errorColor: #f00e0e;
    --validColor: #0add0a;
    --lightgrey: #b1b1b1;
    --darkgray: #212329;
    --white: #fff;
    --lightred: #f9433dcc;
    --lightblue: #337AF1;
}
.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.modal-content {
    background: #f4f4f4;
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    position: relative;
    border-radius: 3px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.close-btn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
    z-index: 1;
}
.close-btn:hover {
    cursor: pointer;
    color: var(--brightred);
    transition: 0.2s ease-out;
}
.modal-content-left {
    background:linear-gradient(90deg, rgba(247, 74, 70, 1) 0%, rgba(236, 43, 0,1) 100%);
    border-radius: 0 3px 3px 0;
    position: relative;
}
#modal-img{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content-right{
    border-radius: 0 3px 3px 0;
    position: relative;

}

.modal-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-form h1{
    font-size: 1rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
}
.form-validation {
    margin-bottom: 0.5rem;
    width: 80%;

}
.form-validation.error{
    margin-bottom: 1.5rem;
    position: relative;
    border: 1px solid var(--errorColor);
    border-radius: 2px;
}

.form-validation.valid {
    margin-bottom: 0.5rem;
    position: relative;
    border: 1px solid var(--validColor);
    border-radius: 2px;
}
.modal-input{
    display: block;
    padding-left: 0.5rem;
    outline: none;
    border-radius: 2px;
    border: none;
    height: 2rem;
    width: 100%;
    box-shadow: 1px 1px rgba(0,0,0,0.05);
}
.modal-input::placeholder{
    color: var(--lightgray);
}
.modal-input-btn {
    width: 80%;
    height: 2rem;
    border-radius: 2px;
    background-color: var(--brightred);
    outline: none;
    border: none;
    color: var(--white);
    font-size: 1rem;
}
.modal-input:hover{
    cursor: pointer;
    background-color: var(--lightblue);
    transition: all 0.4s ease-out;
}

.modal-input-login{
    font-size: 0.8rem;
    margin-top: 1rem;
    color: var(--lightgrey);

}
.modal-input-login a{
    text-decoration: none;
    color: var(--brightred);
    font-size: 600;
}
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}
input{
    width: 50%;
    display: block;
    margin: 15px auto;
}
.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}*/
.modal{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-contents{
    background-color: #fff;
    padding: 2rem 4rem;
}
.input[type=email]{
    width: 100%;
    padding: .5rem;
}
.button{
    width: 100%;
    padding: .5rem;
    background-color: blue;
    border: none;
    color: #fff;
    transition: all .3s ease;
    cursor: pointer;
}
.hover{
    background-color: cadetblue;
}
.modal_close-bar{
    display: flex;
    justify-content: flex-end;
    margin-right: -2rem;
    margin-top: -1rem;
    cursor: pointer;
}