{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jrell Beats</title>
    <meta name="description" content="Personal Landing Page">
    <meta name="author" content="Eric Quach and Brandon Kuon">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
    <!---- ICONS -->
    <link rel="shortcut icon" href="{% static 'images/favicon2.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/creative.css' %}">

    <!-- JAVASCRIPT-->
    <!-- Modernizr -->
    <script src="{% static 'js/modernizr.js' %}"></script> 


</head>
<body id="page-top" class="politics_version" style="overflow: hidden;">

    <!-- Preloader -->
    <div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>  
		</div>
    </div>
    <!-- End Preloader-->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      </nav>

<!-- Content that child html files supply-->
{% block content %}
{% endblock %}

<!-- Footer -->


<!-- Scroll To Top Sticky Button -->
<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a> 

<!-- Email JS module -->
<script src="{% static 'js/email.js' %}"></script>

<!-- ALL JS FILES -->
<script src="{% static 'js/all.js' %}"></script>
<script src="{% static 'js/kris-facts.js' %}"></script>
<script src="{% static 'js/creative.min.js' %}"></script>
<!-- Camera Slider -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script> 
<script src="{% static 'js/parallaxie.js' %}"></script>
<script src="{% static 'js/headline.js' %}"></script>
<!-- Contact form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/jquery.vide.js' %}"></script>

</body>
</html>
