{% extends 'base.html' %}
{% load static %}

{% block content %}

   	<section id="home" class="main-banner parallaxie" style="background: url('{% static 'uploads/j-logo1.jpg' %}')">
		<div class="heading">
			<h1>Jrell Beats</h1>
			<div class="container">
				<div class="gallery-menu row">
					<div class="col-md-12">
						<div class="button-group filter-button-group text-left">
							<button data-filter=".gal_learn">Learning</button>
							<button data-filter=".gal_ent">Entertainment</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
{% endblock %}
