{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button class="modal-btn">Launch Modal</button>

    <div class="modal-bg">
        <div class="modal">
            <h2>Sign up for free Beats!</h2>
            <label for="name">Name: </label>
            <input type="text" name="name">
            <label for="email">Email: </label>
            <input type="email" name="email">
            <button>Submit</button>
            <span class="modal-close">X</span>
        </div>
    </div>
   <!--- <div class="bg-modal">
        <div class="modal-content">
            <div class="close">+</div>
            <img src="https://richardmiddleton.me/comic-100.png" alt="">
            <form action="">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="E-Mail">
                <a href="" class="button">Submit</a>
            </form>
        </div>
    </div> -->
</body>

</html>
{% endblock %}