{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button class="main-btn"><a href ="#">Get Started</a>
	</button>
	
<!-- Modal -->
<div class="bg-modal">
    <div class="modal-content">
        <div class="close">+</div>
        <img src="https://richardmiddleton.me/comic-100.png" alt="">
        <form action="">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="E-Mail">
            <a href="" class="button">Submit</a>
        </form>
    </div>
</div>
</body>
</html>
{% endblock %}